apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
namespace: dev
namePrefix: dev-
commonLabels:
  environment: dev
images:
  - name: my-app
    newName: nginx
    newTag: alpine
